@keyframes card-animation {
  from {
    left: 300%;
  }
  to {
    left: 50%;
  }
}
@keyframes img-animation {
  from {
    left: -300%; /* Fora da tela à direita */
  }
  to {
    left: 1%; /* Posição final, centralizado horizontalmente */
  }
}
@keyframes text-animation {
  from {
    bottom: -20px;
    opacity: 0; /* Fora da tela à direita */
    filter: blur(5px);
  }
  to {
    bottom: 20px;
    opacity: 1;
    filter: blur(0);
  }
}
